# 620. Not Boring Movies

Leetcode Problem Link - https: // leetcode.com/problems/not-boring-movies/

__Solution:__

In [ ]:
-- Oracle
SELECT *
FROM cinema
WHERE MOD(id, 2) <> 0
AND description NOT LIKE 'boring'
ORDER BY rating DESC

-- Sql Server
SELECT *
FROM cinema
WHERE id % 2 <> 0
AND description NOT LIKE 'boring'
ORDER BY rating DESC;

-- MySQL
SELECT *
FROM cinema
WHERE Mod(id, 2) % 2 <> 0
AND description NOT LIKE 'boring'
ORDER BY rating DESC;

## Explantation:
This problem was pretty straightforward with two `where` statements and an `order by.` One noteworthy thing to mention is that the modulo operator differs betweenn sql engines. In Oracle and MySQL it is a function, while SQL Serve is `%.`